@import 'variables';
@import '_mixins';

.collections-wrapper {
  header {
    text-align: center;

    form {
      display: flex;
      align-items: center;
      justify-content: center;

      input {
        padding: 6px;
        margin-right: 10px;
        border-radius: 3px;
        background-color: #e8e7e7;
        border: 0;
        min-width: 200px;
        font-size: 0.775rem;
      }

      button {
        font-size: 0.925rem;
        border: 2px solid #000;

        &:disabled {
          background-color: #d4d4d4;
          color: #a19e9e;
          border-color: #d4d4d4;
          cursor: no-drop;
        }
      }
    }
  }
}

#collection-container {
  section {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto 0;

    article {
      font-size: 17px;
      border-radius: 3px;
      margin-bottom: 30px;
      border: 1px solid #d6d5d5;

      header {
        padding: 17px;
        font-size: 1.8em;
        font-weight: bold;
        background-color: #eff1f2;

        h3 {
          margin: 0;
          font-size: 1.6rem;
        }
      }

      ul {
        li {
          list-style-type: none;
        }
      }
    }
  }
}
